<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>edit course</title>
</head>
<body>
<form action="{:url('update')}" method="post">
<input type="hidden" name="id" id="id" value="{$Course->getData('id')}" />
<label for="name">name:</label><input type="text" name="name" id="name" value="{$Course->name}" />
{volist name="Course->Klasses()->select()" id= "klass"}
<input type="checkbox" name="klass_id[]" id="klass_id_{$klass->id}" value="{$klass->id}" {eq name="Course->getIsChecked($klass)" value="true"} checked="checked"{/eq} />
<label for="{$klass->id}">{$klass->name}</label>
{/volist}
<button type="submit">提交</button>
</form>
</body>
</html>